/* formatação pagina mensageiro */

h1
    {
        font-size: 34px;
        font-weight: bold;
        color:rgb(99, 62, 7); 
    }

body
    {  
        font size: 18px;
        color: black;
    }
 
h2
    {
        font-size: 22px;
        font-style: italic;
        color: rgb(156, 109, 21);
    }